/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

input {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/*         */

/* CONTAINER */

.container {
  min-width: 320px;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/*                */

/* SECTION */

section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-right: auto;
  margin-left: auto;
}

/*          */

/* HEADER  */

.header .header-nav,
.header .address {
  display: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  padding: 16px 0;
}

.logo-studio {
  color: #2e2f42;
}


.phone-menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  cursor: pointer;
}

/*  PHONE  */
.phone-backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.phone-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.phone-icon-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon-close:hover,
.phone-icon-close:focus {
  border: none;
  background-color: #404bbf;
}

.phone-menu-open {
  padding: 72px 16px 40px 16px;
  display: flex;
  width: 320px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-nav-link {
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 24px;
}

.phone-menu-address {
  margin-bottom: 48px;
}

.address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #4d5ae5;
}

.button-continue {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.phone-menu-soc-list {
  max-width: 280px;
  display: flex;
  justify-content: space-between;
}

.current-page {
  color: #404bbf;
}

.phone-acctive {
  color: #4d5ae5;
}

/* PHONE  */

/* HERO SECTION */
.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/office-desk-phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/office-desk-phone@2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto 72px auto;
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  min-width: 169px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/* FEATURES SECTION */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  max-width: 767px;
}

.features-list-item-icon {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-icon {
  fill: #2e2f42;
}

.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  color: #434455;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* TEAM SECTION  */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 767px;
  gap: 72px;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-wrap {
  padding: 32px 0;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-links-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-sl-links {
  fill: #f4f4fd;
}

.social-links-list-item:focus,
.social-links-list-item:hover {
  background-color: #404bbf;
}


/* PORTFOLIO SECTION */
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  max-width: 767px;
}

.product-list-item {
  cursor: pointer;
  transition-property: box-shadow;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.8),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.product-list-item:hover .overlay-text {
  transform: translateY(0%);
}

.product-list-wrap {
  background-color: #fff;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


.product-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.product-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*    FOOTER    */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.logo-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 72px auto;
}

.soc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 72px auto;
}

.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  max-width: 208px;
}

.footer-soc-list-item {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list-item:hover,
.footer-soc-list-item:focus {
  background-color: #31d0aa;
}

.footer-soc-links {
  fill: #f4f4fd;
}

.footer-form-container {
  margin: 0 auto;
}

.footer-form-container-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-lebel {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.subscribe-button {
  font-family: 'Roboto', sans-serif;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background: #404bbf;
}

.soc-link-subscribe {
  fill: #fff;
  margin-left: 16px;
}

.form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.form-input:focus {
  border: 1px solid #31d0aa;
}

input::placeholder {
  color: #fff;
}


/*    MODAL     */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon-fill {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover .close-icon-fill,
button:focus .close-icon-fill {
  fill: #fff;
}

.modal-text-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-modal-div {
  margin-bottom: 8px;
}

.form-modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.comment-container {
  margin-bottom: 16px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-text-input {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #8e8f99;
}

.checkbox-input-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.new-checkbox {
  position: absolute;
  left: -0px;
  top: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  cursor: pointer;
}

input[type='checkbox']:checked+label .new-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-modal-label-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-label-input:focus {
  border-color: #4d5ae5;
}

.form-modal-textarea-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-textarea-input:focus {
  border-color: #4d5ae5;
}

.modal-button {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.input-icon-name {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-icon-line input:focus+.modal-icon-fill {
  fill: #4d5ae5;
}

.modal-icon-line {
  position: relative;
}

/*   MEDIA   */

/*  TABLET   */

@media screen and (min-width: 768px) and (max-width: 1157px) {

  .header .header-nav,
  .header .address {
    display: flex;
  }


  .container {
    max-width: 768px;
  }

  .phone-menu-button {
    display: none;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header .header-nav {
    flex-direction: row;
  }

  .logo-web {
    padding: 0;
    margin-right: 120px;
  }

  .address {
    margin: 0;
    gap: 12px;
  }

  .header-nav-link {
    display: inline-block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
  }

  .address-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .current-page::after {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    content: '';
    border-radius: 2px;
    background-color: #404bbf;
  }

  .hero {
    padding: 112px 0;
    background-image: linear-gradient(to bottom rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/office-desk-tablet.jpg);
    max-width: 768px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/office-desk-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1157px;
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px)/2);
  }

  .features-list-title {
    text-align: start;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 552px;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 736px;
    margin: 0 auto;
  }

  .product-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
    margin: 0 auto;
  }

  .logo-text {
    margin: 0 24px 72px 0;
  }

  .soc-container {
    margin: 0;
  }

  .footer-form-container {
    margin: 0;
  }

  .footer-logo-web {
    text-align: start;
  }

  .footer-soc-text {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-container-text {
    text-align: start;
  }

  .form-input {
    width: 264px;
  }

  /*    MODAL    */

  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .checkbox-text-input {
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  .new-checkbox {
    top: -0px;
    margin-right: 8px;
    position: relative;
  }

  .phone-backdrop {
    display: none;
  }
}

/*   DESKTOP   */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .phone-menu-button {
    display: none;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header .header-nav,
  .header .address,
  .header-nav {
    display: flex;
  }

  .logo-web {
    margin-right: 76px;
    padding: 0;
  }

  .header-nav {
    flex-direction: row;
  }

  .header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    display: inline-block;
  }

  .address {
    margin: 0;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .current-page::after {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    content: '';
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-nav {
    align-items: center;
  }

  .section.hero {
    padding: 188px 0;
  }

  .hero {
    background-image: linear-gradient(to button,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/office-desk.jpg);
    max-width: 1440px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/office-desk@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 48px;
  }

  .features-list-item-icon {
    display: flex;
  }

  .features-list {
    flex-direction: row;
    max-width: 1128px;
    gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
  }

  .features-list-text {
    font-weight: 400;
  }

  .team-list {
    flex-direction: row;
    max-width: 1128px;
    gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    max-width: 1128px;
  }

  .product-list-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .product-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .footer {
    padding: 100px 0;
  }

  .footer .container {
    flex-direction: row;
  }

  .logo-text {
    margin: 0 120px 0 0;
  }

  .footer-logo-web {
    text-align: start;
  }

  .footer-text {
    margin: 0;
  }

  .soc-container {
    margin: 0;
  }

  .footer-soc-text {
    text-align: start;
  }

  .footer-soc-list {
    margin: 0;
  }

  .footer-form-container {
    margin: 0;
    margin-left: auto;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-container-text {
    text-align: start;
  }

  .form-input {
    width: 264px;
  }

  /* modal */

  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .checkbox-text-input {
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  .new-checkbox {
    position: relative;
    top: -0px;
    margin-right: 8px;
  }

  .phone-backdrop {
    display: none;
  }
}